@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat";
}

a,
p {
	font-family: "Roboto";
}

html,
body,
#root {
	height: 100vh;
}

a {
	text-decoration: none;
	color: whitesmoke;
	list-style: none;
	font-weight: 700;
}

#root {
	display: flex;
	flex-direction: column;
}

#header__layout {
	padding: 1rem 1rem;
	background-color: #0d0d0d;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	color: whitesmoke;
	display: flex;
	justify-content: space-between;

	.layout__nav {
		display: flex;
		align-items: center;
		color: whitesmoke;
		flex-wrap: wrap;
		ul {
			display: flex;
			li {
				list-style: none;
				.nav__link {
					margin-left: 1rem;
				}
			}
		}
	}
}

main {
	flex-grow: 1;
	padding: 1rem;
}

footer {
	padding: 0.5rem;
	background-color: #0d0d0d;
	text-align: center;
	font-size: 0.8rem;
	color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
        list-style: none;
    }
}

.icons__content {
	gap: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.greeting__content {
	padding: 1rem;
}