@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat";
}

a,
p {
	font-family: "Roboto";
}

html,
body,
#root {
	height: 100vh;
}

a {
	text-decoration: none;
	color: whitesmoke;
	list-style: none;
	font-weight: 700;
}

#root {
	display: flex;
	flex-direction: column;
}

#header__layout {
	padding: 1rem 1rem;
	background-color: #0d0d0d;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	color: whitesmoke;
	display: flex;
	justify-content: space-between;

	.layout__nav {
		display: flex;
		align-items: center;
		color: whitesmoke;
		flex-wrap: wrap;
		ul {
			display: flex;
			li {
				list-style: none;
				.nav__link {
					margin-left: 1rem;
				}
			}
		}
	}
}

main {
	flex-grow: 1;
	padding: 1rem;
}

footer {
	padding: 0.5rem;
	background-color: #0d0d0d;
	text-align: center;
	font-size: 0.8rem;
	color: whitesmoke;
	display: flex;
	justify-content: space-around;
	align-items: center;
	li {
		list-style: none;
	}
}

.icons__content {
	gap: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.greeting__content {
	padding: 1rem;
}

.item__count {
	background-color: rgba(0, 0, 0, 0.05);
	padding: 1rem;
	margin: 1rem;
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-radius: 0.5rem;
	.item__count--content {
		width: 100%;
		justify-content: space-between;
		display: flex;
		align-items: center;
		margin: auto;
		p {
			padding: 1rem;
		}
		.count__button {
			width: 30px;
			height: 2rem;
			background-color: #4caf50;
			border: none;
			color: white;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			font-weight: 700;
			border-radius: 50%;
			transition: 500ms;
		}
		.count__button:hover {
			transform: scale(1.1);
		}
	}
	.item__cart--button {
		width: 100%;
		padding: 0.5rem;
		background-color: #0d0d0d;
		border: none;
		color: white;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		border-radius: 1rem;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		transition: 500ms;
	}
	.item__cart--button:hover {
		transform: scale(1.1);
	}
}
